<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.appcenter_project.mapper.TipMapper">

    <resultMap id="tipResultMap" type="com.example.appcenter_project.dto.response.tip.ResponseTipDto">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="createDate" column="created_date"/>
        <result property="filePath" column="file_path"/>

        <result property="content" column="content"/>
        <result property="tipLikeCount" column="tip_like"/>
        <result property="tipCommentCount" column="tip_comment_count"/>
    </resultMap>

    <select id="findTips" resultMap="tipResultMap">
        SELECT
            t.id,
            t.title,
            'TIP' as type,
            t.created_date,
            (
                SELECT i.file_path
                FROM image i
                WHERE i.board_id = t.id
                LIMIT 1
            ) AS file_path,
            SUBSTRING(t.content, 1, 10) AS content,
            t.tip_like,
            t.tip_comment_count
        FROM tip t

    </select>



</mapper>